.job-details-header {
  background-color: black;
  font-size: 14px;
  padding: 60px;
}

.job-details {
  background-color: #2c364c;
  border: 1px solid #2c364c;
  border-radius: 8px;
  margin: 20px;
  color: white;
}

.life-at-company {
  padding: 20px;
}

.life-at-company-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.company-logo {
  margin-right: 20px;
}
.company-logo > img {
  width: 50px;
}

.job-item-title-header {
  display: flex;
}

.title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.star {
  margin-right: 6px;
}

.job-item-card-details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.similar-jobs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -70px;
}

.similar-job {
  background-color: #2c364c;
  border: 1px solid #2c364c;
  border-radius: 8px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.skill-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.skills {
  margin: 20px;
}

.skill-image {
  width: 50px;
  height: 50px;
}

.sub-heading {
  color: white;
  font-size: 16px;
  font-weight: 500;
}
